*{
    margin: 0;
    padding: 0;
 }
 .navbar {
    background-color: black;
 }

 #mainCarousel .carousel-item {
      height: 100%;
      width: 100%;
   }
 #mainCarousel .carousel-caption {
    font-family: 'Oswald', sans-serif;
    text-shadow: 0.5px 0px rgb(4, 75, 156);
    margin-bottom: 200px;
 }

 #productCarousel .carousel-control-prev-icon {
   margin-right: 120px;
   
 }
 #productCarousel .carousel-control-next-icon {
    margin-left: 120px;
 }
#text-quality1{
   background-size: 120px;
   background-color: rgb(172, 141, 100);
   height: 400px;
}
#text-quality2{
   background-size: 120px;
   background-color: rgb(51, 60, 70);
   height: 300px;
}
#text-quality3{
   background-size: 120px;
   background-color: rgb(85, 94, 105);
   height: 300px;
}
#text-quality4{
   background-size: 120px;
   background-color: rgb(156, 149, 131);
   height: 300px;
}
.figure img {
   width: 90px;
   height: 70px;
}
#testiCarousel {
   width: 100%;
   height: 200px;
   margin-bottom: 30px;
}

/* Desktop Version */
@media (min-width: 992px) {
   .navbar {
      background-color: transparent;
      z-index: 2;
   }
   .nav-link {
      margin-left: 10px;
   }
   /* Efek Garis Underline */
   .nav-link:hover::after {
      content: '';
      display: block;
      border-bottom: 3px solid rgb(35, 198, 209);
      width: 50%;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
   }
   #mainCarousel .carousel-item {
      height: 650px;
      width: 100%;
   }
   #mainCarousel .carousel-caption {
      margin-bottom: 240px;
      font-family: 'Oswald', sans-serif;
      text-shadow: 0.5px 0px rgb(4, 75, 156);
  
   }
   /* Bentuk Tombol Jadi Bundar */
   .nav-item .btn {
      margin-left: 10px;
      border-radius: 40px;
   }
   /* Navbar Jadi ke transparant */
   #mainCarousel {
   margin-top: -80px;
   }

.figure img {
   width: 150px;
   height: 145px;
}
 
}




